extends layout

block content
  h1 about
  link(rel='stylesheet', href='/stylesheets/about.css')
  script(src="/js/p.js")
  div#pages
    div.page.page1
      div.stage
        p 1
    div.page.page2
      div.stage
        p 2
    div.page.page3
      div.stage
        p 3
    div.page.page4
      div.stage
        p 4
    div.page.page5
      div.stage
        p 5
    div.page.page6
      div.stage
        p 6
  script.
    createPages();