extends layout

block content
    h1= title
    p Welcome to #{title}
    ul
    each val, index in blogs
        li
            a.title(href="/post/#{val._id}")=val.title
    //img(src="img/about.jpeg")
