extends layout

block content
  h1 about
  link(rel='stylesheet', href='/stylesheets/zp.css')
  script(src="/js/zp.js")
  div#pages
    div#zp.zp
    div.btnbg
      div#btn.btn
  script.
    zp.start();