.page1{
    background: #880000;
}
.page2{
    background: green;
}
.page3{
    background: yellow;
}
.page4{
    background: deeppink;
}
.page5{
    background: blue;
}
.page6{
    background: #ccc;
}